/* COLOR VARIABLES
===========================*/

// Navbar and black divs
$mine-shaft: #222;

// white links
$alabaster: #F8F8F8;

// footer and links on hover
$jade: #00A676;

// bolt-network blue
$azure-radiance: #0393FF;

// suggestion-box blue
$downy: #6EBFD4;

// Sherry Matthews Marketing green
$lime-green: #00C63E;

// Ruby logo red
$ruby-red: #b50f01;

// Javascript logo yellow
$javascript-yellow: #f0db4f;

// Ruby on Rails logo red
$ror-red: #a32435;

// Git logo orange
$git-orange: #f05033;

// Github logo blue
$github-blue: #42C0FB;

// LinkedIn logo blue
$linkedin-blue: #006699;

// Twitter logo blue
$twitter-blue: #62c8f8;

// Facebook logo blue
$facebook-blue: #3765a3;

// Dark Background
$dark-bg: #343a40;

// Darker Background
$darker-bg: #141414;

// Header color
$header-black: #252525;

// Paragraph color
$gray-font: #666666;
$gray-font-2: #8a8a8a;
$silver: #c5c5c5;

// Header White
$caca: #cacaca;

// Code Colors
$gem: #f067f0;
$string: #47e120;
$class_name: #e5c07b;
