// BLOG STYLES ###################

.blog-body {
	margin-bottom: 4em;
}

.post {
	width: 90%;
	margin: 2em auto;
	padding: 1em 0 4em 0;
	border-bottom: solid 1px #949494;
	line-height: 180%;
}

.show-post {
	@extend .post;
	border: none;
}

.post-title {
	font-size: 3em;
	font-weight: 300;
}

.post-date {
	font-size: 1.5em;
	color: #949494;
}

.post-cover {
	max-height: 400px;
	width: 690px;
	border: solid 1px #949494;
	@include box-shadow(3px 3px 5px #888888);
	margin: 2em auto;
}

.image-preview {
	margin: 1.5em 0;
}

.post-body {
	font-size: 1.5em;
	margin: 2em 0 3em 0;
	line-height: 180%;
}

.post-view {
	p {
		font-size: 1.5em;
		margin: 1.5em 0;
		line-height: 180%;
	}
}

// MEDIA QUERIES ##################

@media screen and (min-width: 768px) {
  .post {
  	width: 690px;
  }
}
