<!-- app/views/project_demos/edit.html.erb -->

<div class="container mt-4 mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <%= link_to 'Show', @project_demo, class: 'btn btn-sm btn-outline-info' %> |
      <%= link_to 'Back to List', project_demos_path, class: 'btn btn-secondary' %>
    </div>
  </div>

  <h1 class="text-center mt-4 mb-4">Editing Project demo</h1>

  <div class="row justify-content-center">
    <div class="col-lg-10">
      <%= render 'form', project_demo: @project_demo %>
    </div>
  </div>
</div>
