// app/assets/stylesheets/modules/slider/_manifest.scss

.slick-slide img {
  width: 100%;
}

.slick-prev, .slick-next {
  z-index: 5 !important;
  width: 40px !important;
  height: 40px !important;
}

.slick-prev {
  left: 0 !important;
}

.slick-next {
  right: 0 !important;
}