<!-- app/views/post_sections/edit.html.erb -->

<div class="container mt-4 mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <%= link_to 'Show', @post_section, class: 'btn btn-sm btn-outline-info' %> |
      <%= link_to 'Back to List', post_sections_path, class: 'btn btn-secondary' %>
    </div>
  </div>

  <h1 class="text-center mt-4 mb-4">Editing Post section</h1>

  <div class="row justify-content-center">
    <div class="col-lg-10">
      <%= render 'form', post_section: @post_section %>
    </div>
  </div>
</div>
