<!-- app/views/post_sections/new.html.erb -->

<div class="container">
  <h1 class="text-center mt-4"><%= @post.title %></h1>

  <h2 class="text-center mt-4">New Section</h2>

  <div class="row mt-4 justify-content-center">
    <div class="col-lg-10">
      <%= render 'form' %>
    </div>
  </div>
</div>
