// app/assets/stylesheets/layouts/_footer.scss

/* FOOTER STYLES
====================================*/

footer {
  padding: 3rem 0 80px;

  h4 {
    color: $caca;
  }

  p {
    color: #a0a0a0;
    font-size: 1.1rem;
  }

  a {
    color: $caca;
    font-weight: bold;
  }
}
