// ===============================
//       SITE-WIDE STYLES
// ===============================

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-size: 14px;
}

nav {
  min-height: 100px;
  z-index: 10;
}

main {
  flex: 1 0 auto;
  line-height: 180%;
  overflow-x: hidden;
}

footer {
  flex-shrink: 0;
  background-color: $dark-bg;
}

main.bg-dark {
  h1 {
    color: $caca;
  }
}

main.bg-light {
  h1 {
    color: $header-black;
  }
}

p {
  color: white;
}

.page-headline {
  margin-top: 2em;
  font-weight: 300;
}

.technologies {
  font-family: 'Cambria';
  color: #696969;
}
