<div class="skills-box">
  <div class="skillset skillset-default">
    <h1>Skills</h1>
    <br>
    <span class="ruby-gif"><%= image_tag("rotating-ruby.gif", class: "img-responsive") %></span>
    <div class="skills-copy">

      <div class="skills">
  	    <p class="ruby-skill">Ruby</p>
        <p class="javascript-skill">JavaScript</p>
        <p class="ror-skill">Ruby on Rails</p>
        <!-- <p class="node-skill">NodeJS</p> -->
        <!-- <p class="angular-skill">AngularJS</p> -->
        <ul class="bootstrap-skill">
          <li>Boo</li>
          <li>ts</li>
          <li>trap</li>
        </ul>
        <p class="jquery-skill jquery-1">jQuery<span class="jquery-fine">Fine, click me!</span></p>
        <p class="css3-skill">CSS3</p>
        <div class="skills-back">
          <div class="flipper">
            <div class="front"><span>Back</span></div>
            <div class="back"><i class="fa fa-arrow-left"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="exhibit ruby-exhibit">
    <%= render 'ruby_exhibit' %>
  </div>

  <div class="exhibit javascript-exhibit">

  </div>

  <div class="exhibit ror-exhibit">

  </div>

  <div class="exhibit bootstrap-exhibit"></div>

  <div class="exhibit jquery-exhibit"></div>

  <div class="exhibit css-exhibit"></div>
</div>
