// app/assets/stylesheets/ui_patterns/posters/_mixins.scss

@mixin bp-poster-width {
  @media screen and (max-width: 499px) {
    width: 50%;
  }
  @media screen and (min-width: 500px) and (max-width: 799px) {
    width: 33.333333%;
  }
  @media screen and (min-width: 800px) and (max-width: 1099px) {
    width: 25%;
  }
  @media screen and (min-width: 1100px) and (max-width: 1399px) {
    width: 20%;
  }
  @media screen and (min-width: 1400px) {
    width: 16.6666667%;
  }
}

@mixin poster-container {
  z-index: 1;
  white-space: normal;
  vertical-align: top;
  height: 6.5em;
  display: inline-block;
  position: relative;
  transform-origin: 50% 100%;
}
