<!-- app/views/shared/_footer.html.erb -->

<footer>
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-12">
        <h4 class="text-center">Let's Talk</h4>
        <p class="text-center">
          Want to get in touch or talk about a project?
          <br>
          Feel free to contact me via email at
          <a href="mailto:ericb.stephenson@gmail.com">
            ericb.stephenson@gmail.com
          </a>
          <br>
          or drop a line in the form at the
          <a href="/contact">contact page</a>
        </p>
      </div>
    </div>
  </div>
</footer>
