<!-- app/views/shared/_footer.html.erb -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <ul class="social-media">
          <li>
            <a class="github-link" href="https://github.com/wstevo4891">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a class="linkedin-link" href="https://www.linkedin.com/in/ericbstephenson4891">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
        </ul>
        <p>© 2018 Eric Stephenson</p>
      </div>
    </div>
  </div>
</footer>
