<!-- app/views/home/index.html.erb -->

<!-- HOME PAGE -->

<!-- <div class="home-page">
  <h1>Eric Stephenson is a Web Developer</br> in Seattle</h1>
</div> -->

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 text-center top-25">
      <h1>Eric Stephenson is a Web Developer</br> in Seattle</h1>
    </div>
  </div>

  <div class="row justify-content-center pb-4">
    <div class="col-sm-6 text-center">
      <ul class="social-media">
        <li>
          <a class="github-link" href="https://github.com/wstevo4891">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a class="linkedin-link" href="https://www.linkedin.com/in/ericbstephenson4891">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
