<!-- app/views/projects/new.html.erb -->

<div class="container">
  <h1 class="text-center mt-4">New Project</h1>

  <div class="row mt-4 justify-content-center">
    <div class="col-lg-10">
      <%= render 'form' %>
    </div>
  </div>
</div>
