<% provide(:title, 'Full Stack Web Developer Portfolio | Ruby and JavaScript
                   Specialist') %>
<% provide(:description, 'Web Front-End & Back-End Software Developer and Ruby
                         on Rails Specialist Portfolio. Check out my Rails
                         Projects, React.JS Components, and Github
                         Repositories.') %>

<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-12 text-center">
      <h1 class="page-header">
        <span>class</span>
        <span>Projects</span>
      </h1>
    </div>
  </div>

  <div class="row justify-content-center mt-4 mb-4">
    <%= render 'project_links' %>
  </div>
</div>
