<!-- app/views/posts/edit.html.erb -->

<div class="container mt-4 mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <%= link_to 'Show', admin_post_path(@post), class: 'btn btn-sm btn-outline-info' %> |
      <%= link_to 'Back to List', admin_posts_path, class: 'btn btn-secondary' %>
    </div>
  </div>

  <h1 class="text-center mt-4 mb-4">Editing Post</h1>

  <h2 class="text-center mt-4 mb-4"><%= @post.title %></h2>

  <div class="row justify-content-center">
    <div class="col-lg-10">
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>
