<!-- app/views/admin_labs/new.html.erb -->

<div class="container">
  <h1 class="text-center mt-4">New Lab</h1>

  <div class="row mt-4 justify-content-center">
    <div class="col-lg-10">
      <%= render 'form', url: admin_labs_path %>
    </div>
  </div>
</div>
