// =======================
//      BUTTON STYLES
// =======================

.skills-button {
  margin-top: 1em;
  padding: 0.5em 1em !important;
  font-size: 1.5em !important;
  box-shadow: 4px 4px 4px #4d4d4d;
}

.show-post-btn {
  padding: 0.6em;
  border: 2px solid;
  border-radius: 40px;
  width: 15%;
  height: 3em;
  color: #757575;
  font-size: 1.5em;
  transition: all 0.5s ease;

  &:hover, &:focus {
    text-decoration: none;
    color: #18bc9c;
  }
}

.oval-button {
  display: block;
  width: 154px;
  height: 2.5em;
  padding: 0.6em;
  border: 2px solid;
  border-radius: 40px;
  color: #757575;
  font-size: 1.5em;
  transition: all 0.5s ease;

  &.center {
    margin: 2rem auto;
  }

  &:hover, &:focus {
    text-decoration: none;
    color: #18bc9c;
  }
}
