//=====================================
// APPLICATION CONFIGURATION VARIABLES
//=====================================

// Manage the smart defaults for your UI

// TYPOGRAPHY CONFIGURATION
//===========================

$font_size: 14;

$heading_1: 46;
$heading_2: 32;
$heading_3: 28;
$heading_4: 18;
$heading_5: 18;
$heading_6: 18;

$line: $font_size * 1.5;

$small_point_size: 10;
$large_point_size: 14;

$primary_font_family: "Roboto", Arial, sans-serif;
$secondary_font_family: "Helvetica Neue", Arial, sans-serif;
$heading_font_familyl: "Roboto", Arial, sans-serif;

$icon_font_alpha: 'ico-fonts';
$icon_font_beta: 'font-awesome';

$webfont_directory: "/assets/fonts";


// MAIN BREAKPOINTS
//=====================================

@mixin bp-xl {
  @media only screen and (min-width: 1400px) {
    @content;
  }
}

@mixin bp-lg {
  @media only screen and (min-width: 1100px) {
    @content;
  }
}

@mixin bp-md {
  @media only screen and (min-width: 800px) {
    @content;
  }
}

@mixin bp-sm {
  @media only screen and (min-width: 500px) {
    @content;
  }
}

@mixin bp-xs {
  @media only screen and (max-width: 499px) {
    @content;
  }
}

@mixin bp-tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin bp-mobile {
  @media only screen and (max-width: 800px) {
    @content;
  }
}

@mixin slide-transition {
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  transition-delay: 0ms;
}
