<div class="container bg-light">
  <div class="row justify-content-center">
    <div class="col-sm-10 mt-4 mb-4">
      <%= coderay(@ruby) %>
    </div>

    <div class="col-sm-10 mt-4 mb-4">
      <%= markdown(@foo) %>
    </div>
  </div>
</div>
