// Social Media Links
// ===================

.social-media {
  width: 15em;
  padding: 0;
  margin: 1em auto;

  li {
    list-style-type: none;
    display: inline-block;
  }

  a {
    color: $mine-shaft;
    @include transition(all 0.5s ease);
    &:hover {
      background-color: $alabaster;
    }
  }

  i {
    font-size: 4em;
  }

  .github-link {
    width: 56px;
    height: 4em;
    position: absolute;
    top: 0.9em;
    left: 39%;
    border: 1px solid transparent;
    border-radius: 50%;

    &:hover {
      color: $github-blue;
    }
  }

  .linkedin-link {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 1em;
    left: 51%;
    border: solid 1px transparent;
    border-radius: 15px;

    &:hover {
      color: $linkedin-blue;
    }
  }
}
